
\.idea/

*.pyc

Test\.py
Beethoven-wav/
__pycache__/
args/
autoXsynth_joblib/
csv/
dataset/
logs/
reconstructedWav/
reconstructionAAAA.wav
result/
voice_check.wav
waves/

test_VES\.conf

wavs/source/stft-1024/

wavs/source/stft-2048/Beethoven_Symph7_short\.npy
