
\.idea/

*.pyc

Test\.py
Beethoven-wav/
__pycache__/
args/
autoXsynth_joblib/
csv/
dataset/
logs/
reconstructedWav/
reconstructionAAAA.wav
result/
voice_check.wav
waves/

test_VES\.conf

wavs/source/stft-1024/

wavs/source/stft-2048/Beethoven_Symph7_short\.npy

*.conf

*.wav

*.npy

*.csv

result_monster/process_441\.json

result_monster/process_441\.log

metro_features\.py

weights/multilayer/epoch\.128-val_loss\.0\.866-fbeta\.0\.782\.hdf5

weights/singlelayer/epoch\.115-val_loss\.0\.902-fbeta\.0\.673\.hdf5
